@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bindicator</h1>
    <h2>Smart bins. Smarter cities</h2>
</div>
<h3>Prototype features:</h3>
    <ul>
        <li>Real-time data binding</li>
        <li>Customizable indicators</li>
        <li>Responsive design</li>
        <li>Data visualization</li>
        <li>Cross-platform compatibility</li>
        <li>Easy integration with existing applications</li>
        <li>Open-source and community-driven</li>
    </ul>